<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de cliente</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div id="title">
            <h1 class="dif-h1">AtlasTec</h1>
          </div>
          <ul>
            <a href="http://localhost:3000/cadastrarcliente" id="inscreva-se-btn"><li>Cadastrar Cliente</li></a>
            <input class="inputfile" type="file" name="file" id="file">
            <label for="file">Click aqui e Adicione sua lista de Clientes</label>
          </ul>
    </header>
    <header>
      <main>
      <div id="titulo">
      <h1 id="txtControle">Controle de Cliente</h1>
      <table id="tabela" border="1">
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Comprado</th>
                <th>Nascimento</th>
                <th>Cidade</th>
                <th>Estado</th>
              </tr>
              <%for(usuario of Usuarios){%>
              <tr>
                <td><%=usuario.name%></td>
                <td><%=usuario.email%></td>
                <td><%=usuario.telefone%></td>
                <td><%=usuario.comprado%></td>
                <td><%=usuario.nasc%></td>
                <td><%=usuario.city%></td>
                <td><%=usuario.state%></td>
                <td><a href="http://localhost:3000/deletevalue/<%=usuario.email%>">Excluir</a></td>
              </tr>
              <%}%>
          </table>
        </div>
        
        <div id="Tamanhodiv">
          <input id="txtbusca" type="text"  placeholder="Buscar..."/>
        </div>
        
      </main>
      </header>
  </body>
  <script>
    var input = document.getElementById('txtbusca')

    input.addEventListener("keypress", (e) => {
      if(e.key === "Enter")
      {
        event.preventDefault();
        location = "http://localhost:3000/empresa/"+input.value
      }
    })
  </script>
  </html>